body{
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #4f98ae;

    cursor: url('cursor1.png'), auto;
}

a:hover {
    cursor: url('cursor2.png'), pointer;
    font-weight: bold;
}


/*header style*/
header {
    min-height: 50px;
    text-align: left; 
    padding: 0;
    font-family: serif;
}
 
/*navigation bar style*/
.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none; /*removes default bullet point style*/
    margin: 0;

    padding: 30px;
    background-color: #4f98ae;
    font-family: monospace;
    
}

.navbar .left{
    margin-right: auto;    
}

.navbar li a {
    margin-right: 40px;
    color: #000000;
    text-decoration: none;
    font-size: larger;
}

.navbar a.active{
    font-weight: bold;
    text-decoration: underline;
}

main {
    text-align: left; 
    padding: 100px;
    padding-bottom: 10px;
    font-family: monospace;
}

h1 {
    font-family: serif;
    font-weight: bold;
    font-size: 3em;
}

p {
    font-family: monospace;
    font-size: 1em;
}

footer {
    min-height: 10px;
    text-align: left;
    padding: 50px;
    padding-left: 100px;
    padding-top: 0;
    font-family: monospace;
}

.float-image {
    float: right; 
    margin: 10px; 
}

img {
    width: 50%;
}